.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media print {
  .layout {
    height: auto;
  }

  .main {
    display: block;
  }
}
